$dark-pink-5: #590d22;
$dark-pink-4: #800F2F;
$dark-pink-3: #A4133C;
$dark-pink-2: #C9184A;
$dark-pink-1: #FF4D6D;
$light-pink-5: #FF758F;
$light-pink-4: #FF8FA3;
$light-pink-3: #FFB3C1;
$light-pink-2: #FFCCD5;
$light-pink-1: #FFF0F3;