@use "src/sass/colors";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
}

.header {
    background: colors.$dark-pink-1;
    padding: 1rem;
}

.header h2 {
    margin: 0;
    color: white;
}

.content {
    padding: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.form {
    .input-group {
        margin-bottom: 1rem;
    }
}

.submit-button {
    text-align: center;
    font: inherit;
    font-weight: 600;
    padding: 0rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 30px;
    height: 2.5rem;
    border: 1px solid colors.$dark-pink-1;
    background: colors.$dark-pink-1;
    color: white;
    margin-bottom: 1rem;

    &:hover,
    &:active {
        background: colors.$dark-pink-2;
        border-color: colors.$dark-pink-2;
    }
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}